.flat-table {
  display: block;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 115%;
  overflow: auto;
  width: auto;
}
.flat-table th {
  background-color: #70c469;
  color: white;
  font-weight: normal;
  padding: 20px 30px;
  text-align: center;
}
.flat-table td {
  background-color: #eeeeee;
  color: #6f6f6f;
  padding: 20px 30px;
}
